@keyframes down
  0%
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1)
  50%
    transform: rotateZ(-15deg)
  80%
    transform: rotateZ(5deg)
  100%
    box-shadow: none

@keyframes up
  0%
    box-shadow: none
  50%
    transform: rotateZ(5deg)
  80%
    transform: rotateZ(-15deg)
  100%
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1)

@keyframes leftSide
  0%
    opacity: 0
    visibility: hidden
    transform: translateX(-50%)
  80%
    transform: translateX(2.5%)
  100%
    opacity: 1
    visibility: visible
    transform: translateX(0)

@keyframes show
  0%
    opacity: 0
    visibility: hidden
  100%
    opacity: 1
    visibility: visible

@keyframes rightSide
  0%
    opacity: 0
    visibility: hidden
    transform: translateX(50%)
  80%
    transform: translateX(-2.5%)
  100%
    opacity: 1
    visibility: visible
    transform: translateX(0)

@keyframes hide
  0%
    opacity: 1
    visibility: visible
    transform: translateX(0)
  20%
    transform: translateX(5%)
  100%
    opacity: 0
    visibility: hidden
    transform: translateX(-50%)
@keyframes showModal
  0%
    opacity: 0
    visibility: hidden
    transform: translateX(100%)
  100%
    opacity: 1
    visibility: visible
    transform: translateX(0)

@keyframes hideModal
  0%
    opacity: 1
    visibility: visible
    transform: translateX(0)
  20%
    transform: translateX(5%)
  100%
    opacity: 0
    visibility: hidden
    transform: translateX(100%)

@keyframes scaleItem
  0%
    transform: scale(1)
    transition: $transition
  100%
    transform: scale(1.015)
    box-shadow: 0 0 20px 2.5px $light-olive

@keyframes unScaleItem
  0%
    transform: scale(1.015)
  100%
    transform: scale(1)

@keyframes opacityEnable
  0%
    opacity: 0
  100%
    opacity: 1
