@import "./src/sass/helpers/var"

.products-leave
  clip-path: circle(100%)
  &-active
    position: fixed
    top: 0
    left: 50%
    transition: all 1s ease-in-out
  &-to
    clip-path: circle(0%)


.products-enter
  clip-path: circle(0%)
  &-active
    transition: all 1.5s ease-in-out
    position: fixed
    top: 0
    left: 50%
    z-index: 9999
  &-to
    clip-path: circle(100%)
