@import "./src/sass/helpers/var"

.header
  width: 100%
  display: flex
  justify-content: space-around
  align-items: center
  padding: 0 7.5%
  background-color: rgba($sand-olive, 0.5)
  position: fixed
  top: 0
  left: 0
  z-index: 9999

  &-img
    width: 100%
    height: 35vh

    img
      &:nth-child(even)
        position: absolute
        bottom: 0
        right: 0
        width: 75%
        height: 225%
        transform: translateY(65%)

@media screen and (max-width: 1366px)
  .header
    padding: 0 7.5%

@media screen and (max-width: 1224px)
  .header
    justify-content: space-between
    transition: $transition
    &--direction
      position: relative
      transition: $transition
      background-color: rgba($light-olive, 1)
      padding: 5% 0
      flex-direction: column
      .logo
        width: 40%

@media screen and (max-width: 768px)
  .header
    &-img
      width: 100%
      height: 100%
      img
        height: 100%
        width: 100%
        object-fit: cover